@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap');

.App {
  /* background-color: #8a817c; */
  justify-content: center;

}

.Countdown {
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #373b44;
  min-height: 100vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Title {
  color: whitesmoke;
  text-align: center;
  position: absolute;
  top: 50px;
}

.buttons {
  margin-top: 2vh;
  width: auto;
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 5vh;
  margin: 2% 20%;
  margin-bottom: 15%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  /* height: 100vh; */
  width: 120px;
}

span {
  font-size: 10vw;
  margin-bottom: 0.5vh;
}

h1 {
  font-size: 20vh;
  font-weight: 500;
  margin-bottom: 4vh;
}

h2 {
  margin-top: 0.5vh;
  font-size: 4vh;
  font-weight: 400;
  font-family: 'Gluten';
  text-transform: uppercase;
  text-align: center;
}

.buttons button {
  height: 10vh;
  width: 14vh;
  border-radius: 12%;
  border: none;
  margin: 0 3vw;
  text-align: center;
  transition: all 0.3s ease;
}

button.gradient {
  height: 7vh;
  width: 7vh;
  border-radius: 12%;
  border: none;
  margin: 1vh 1vw;
  text-align: center;
  transition: all 0.3s ease;
}

button.play:hover {
  background-color: rgb(140, 168, 140);
  border-radius: 20%;
}

button.pause:hover {
  background-color: rgb(201, 151, 151);
  border-radius: 20%;
}


/* .buttons button:hover {
  border-radius: 20%;
} */
nav {
  position: absolute;
  top: 1.4vh;
  right: 2vh;
}

.user-picture {
  width: 4rem;
}


.list-group,.list-group-item{
  display: inline-block;
  background-color: #373b44;
  border-style: none;
}

ul {
  list-style-type: none;
}

li {
  color: white;
}

.container {
  margin-left: 0;
}